*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

body {
    height : 100%;
    width : 100%;
    display : flex;
    justify-content : center;
    align-items : center;

    
}

.container{
    height : 100%;
    width : 70%;
    border : 3px solid black;
    border-radius : 3px;
    display : flex;
    justify-content : center;
    align-items : center;
    flex-direction : column;
    position : absolute;
    top : 10%;


}

.box {
    height : 2rem;
    width : 2rem;
   border : 2px solid black;
   cursor : pointer;
}

.mini-container .boxes {
    display : flex;
    justify-content : center;
    align-items : center;
    gap : 15px;
    padding : 3px;
    
}

.mini-container {
    box-shadow : 4px ;
    border : 2px solid red;
    width : 370px;
   
}

 